.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-width: 90%;
}

.profile-pic {
  width: 40px;
  margin: 15px;
}

.profile-name {
  color: #6366f1;
  font-weight: 600;
  font-size: 15px;
  margin: 10px;
}

.progile-bio {
  color: #475569;
  font-size: 10px;
  margin: 10px;
}

.profile-failure-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.retry-btn {
  background-color: #4f46e5;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
